#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_42keys.h"
#include "../zmk-nodefree-config/international_chars/french.dtsi"
#include "../zmk-nodefree-config/symbols/math.dtsi"

/* layer and key shortcuts */

#define ___ &trans

#define DEF 0  // layer shortcuts, must match order in which they are defined below
#define NAV 1
#define SYM 2
#define NUM 3
#define ERG 4
#define ACC 5

/* custom behaviors */

// homerow mods
ZMK_BEHAVIOR(hrm, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <280>;
    quick-tap-ms = <125>;
    global-quick-tap;
    bindings = <&kp>, <&kp>;
)

// tap: sticky shift | double tap: capsword
ZMK_BEHAVIOR(ss_cw, tap_dance,
    tapping-term-ms = <200>;
    bindings = <&sk LSHFT>, <&caps_word>;
)

// tap: backspace | shift + tap: delete | hold: nav layer
ZMK_BEHAVIOR(bs_del_nav, mod_morph,
    bindings = <&lt NAV BSPC>, <&kp DEL>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// combos
#undef COMBO_TERM
#define COMBO_TERM 40  // timeout of 40ms (default is 30ms if omitted)
ZMK_COMBO(combo_copy,     &kp LC(C),  LB2 LB3, ALL)  // Ctrl + C, active on all layers
ZMK_COMBO(combo_paste,    &kp LC(V),  LB1 LB2, ALL)  // Ctrl + V, active on all layers
ZMK_COMBO(combo_capsword, &caps_word, LM1 RM1, DEF)  // On both HR shifts, active on default only


/* keymap */

ZMK_LAYER(default_layer,
// ╭───────────┬─────────────┬─────────────┬─────────────┬──────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬───────────────┬───────────╮
     &kp TAB     &kp Q         &kp W         &kp E         &kp R          &kp T          &kp Y       &kp U         &kp I         &kp O        &kp P           &kp CARET
// ├───────────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼───────────────┼───────────┤
     &kp BSPC    &hrm LGUI A   &hrm LALT S   &hrm LCTRL D  &hrm LSHFT F   &kp G          &kp H       &hrm RSHFT J  &hrm LCTRL K  &hrm LALT L  &hrm LGUI SEMI  &fr_gra_dia
// ├───────────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼───────────────┼───────────┤
     &kp LSHFT   &kp Z         &kp X         &kp C         &kp V          &kp B          &kp N       &kp M         &kp COMMA     &kp DOT      &fr_c_cd        &fr_e_ac
// ╰───────────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼───────────────┼───────────┤
                                             &lt NUM DEL   &bs_del_nav    &kp ESC        &kp RET     &lt SYM SPACE &mt RALT TAB
//                                         ╰─────────────┴──────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

ZMK_LAYER(nav_layer,
// ╭───────────┬─────────────┬─────────────┬─────────────┬──────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬───────────────┬───────────╮
     &kp F1      &kp F2        &kp F3        &kp F4        &kp F5         &kp F6         &kp F7      &kp F8        &kp F9        &kp F10      &kp F11         &kp F12
// ├───────────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼───────────────┼───────────┤
     &out OUT_TOG &sk LGUI &hrm LALT C_PREV &hrm LCTRL C_PP &hrm LSHFT C_NEXT &kp C_VOL_UP &kp LEFT  &kp DOWN      &kp UP        &kp RIGHT    &kp INS         &kp PSCRN
// ├───────────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼───────────────┼───────────┤
     &bt BT_CLR  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 4  &bt BT_SEL 5  &kp C_VOL_DN    &kp HOME    &kp PG_UP     &kp PG_DN     &kp END      ___             &kp SLCK
// ╰───────────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼───────────────┼───────────┤
                                             ___           ___            ___            ___         ___           ___
//                                         ╰─────────────┴──────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

ZMK_LAYER(symbol_layer,
// ╭───────────┬─────────────┬─────────────┬─────────────┬──────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬───────────────┬───────────╮
     ___         &kp HASH      &kp AT        &kp LBRC      &kp RBRC       &kp PLUS       ___         ___           ___           ___           ___            ___
// ├───────────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼───────────────┼───────────┤
     ___         &kp FSLH      &kp UNDER     &kp LPAR      &kp RPAR       &kp EQUAL      &kp DLLR    &kp QMARK     &kp EXCL      &kp AMPS     &kp PIPE        &kp TILDE
// ├───────────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼───────────────┼───────────┤
     ___         &kp STAR      &kp PRCNT     &kp LBKT      &kp RBKT       &kp MINUS      ___         &kp LT        &kp GT        &fr_laquo    &fr_raquo       ___
// ╰───────────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼───────────────┼───────────┤
                                             ___           ___            ___            ___         ___           ___
//                                         ╰─────────────┴──────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

ZMK_LAYER(num_layer,
// ╭───────────┬─────────────┬─────────────┬─────────────┬──────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬───────────────┬───────────╮
     ___         ___           ___           ___           ___            ___            &math_1_4   &kp N1        &kp N2        &kp N3       &math_pm        ___
// ├───────────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼───────────────┼───────────┤
     ___         &sk LGUI      &sk LALT      &sk LCTRL      &sk LSHFT     ___            &math_1_2   &kp N4        &kp N5        &kp N6       &math_deg       ___
// ├───────────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼───────────────┼───────────┤
     ___         ___           ___           ___           ___            ___            &math_3_4   &kp N7        &kp N8        &kp N9       &math_micro     ___
// ╰───────────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼───────────────┼───────────┤
                                             ___           ___            ___            ___         ___           &kp N0
//                                         ╰─────────────┴──────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

ZMK_LAYER(ergol_layer,
// ╭───────────┬─────────────┬─────────────┬─────────────┬──────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬───────────────┬───────────╮
     ___         &kp Q         &kp M         &kp U         &kp L          &kp W          &kp B       &kp D         &kp F         &kp P        &kp Y           ___
// ├───────────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼───────────────┼───────────┤
     ___         &hrm LGUI A   &hrm LALT S   &hrm LCTRL N  &hrm LSHFT T   &kp G          &kp H       &hrm RSHFT R  &hrm LCTRL E  &hrm LALT O  &hrm LGUI L     ___
// ├───────────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼───────────────┼───────────┤
     ___         &kp Z         &kp X         &kp C         &kp V          &kp J          &kp K       &sl 5         &kp SEMI      &kp COLON    ___             ___
// ╰───────────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼───────────────┼───────────┤
                                             ___           ___            ___            ___         ___           ___
//                                         ╰─────────────┴──────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)
