#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

#include "os.dtsi"
#define HOST_OS LINUX
#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/international_chars/french.dtsi"
#include "../zmk-nodefree-config/symbols/math.dtsi"
#include "../zmk-nodefree-config/symbols/typography.dtsi"
#include "alias.dtsi"

#include "../behaviors/combos.dtsi"
#include "../behaviors/custom.dtsi"
#include "../behaviors/canadian-multilingual-standard.dtsi"
#include "../behaviors/mouse.dtsi"

ZMK_LAYER(qwerty,
// ╭─────┬───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────┬─────╮
   &mkp_rg &kp Q       &kp W       &kp E       &kp R        &kp T          &kp Y       &kp U         &kp I         &kp O        &kp P        &ca
// ├─────┼───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┼─────┤
   &mkp_lf &hrm GL A   &hrm AL S   &hrm CL D   &hrm SL F    &kp G          &kp H       &hrm SL J     &hrm CL K     &hrm AL L   &hrm GL SEMI  &gr
// ├─────┼───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┼─────┤
   &mwh_tg &kp Z       &kp X       &kp C       &kp V        &kp B          &kp N       &kp M         &kp COMMA     &kp DOT      &sl ACC     &CEDIL
// ╰─────┴───────────┴───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────┴─────╯
                                   &to MOU     &lt NAV RET  &lt NUM ESC    &bspc_del  &lt SYM SPACE  &mt RALT TAB
//                               ╰───────────┴────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

ZMK_LAYER(colemak,
// ╭─────┬───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────┬─────╮
     ___   &kp Q       &kp W       &kp F       &kp P        &kp B          &kp J       &kp L         &kp U         &kp Y        &kp SEMI     ___
// ├─────┼───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┼─────┤
     ___   &hrm GL A   &hrm AL R   &hrm CL S   &hrm SL T    &kp G          &kp K       &hrm SL N     &hrm CL E     &hrm AL I    &hrm GL O    ___
// ├─────┼───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┼─────┤
     ___   &kp Z       &kp X       &kp C       &kp D        &kp V          &kp M       &kp H         &kp COMMA     &kp COLON    &sl ACC      ___
// ╰─────┴───────────┴───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────┴─────╯
                                   ___         ___          ___            ___         ___           ___
//                               ╰───────────┴────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

ZMK_LAYER(ergol,
// ╭─────┬───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────┬─────╮
     ___   &kp Q       &kp M       &kp U       &kp L        &kp W          &kp B       &kp D         &kp F         &kp P        &kp Y        ___
// ├─────┼───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┼─────┤
     ___   &hrm GL A   &hrm AL S   &hrm CL N   &hrm SL T    &kp G          &kp H       &hrm SR R     &hrm CL E     &hrm AL O    &hrm GL I    ___
// ├─────┼───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┼─────┤
     ___   &kp Z       &kp X       &kp C       &kp V        &kp J          &kp K       &sl ACC       &kp SEMI      &kp COLON    ___          ___
// ╰─────┴───────────┴───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────┴─────╯
                                   ___         ___          ___            ___         ___           ___
//                               ╰───────────┴────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

ZMK_LAYER(accent,
// ╭─────┬───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────┬─────╮
     XXX   XXX         XXX         &TREM E     XXX          XXX            XXX         &TREM I       &TREM O       &TREM U      &TREMA       XXX
// ├─────┼───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┼─────┤
     XXX   &AGRA A     &CIRC E     &AGRA E     &AIGU E      XXX            XXX         &CIRC I       &CIRC O       &CIRC U      &GRA         XXX
// ├─────┼───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┼─────┤
     XXX   &CIRC A     XXX         &CEDIL      XXX          XXX            XXX         XXX           XXX           &AGRA U      &CAR         XXX
// ╰─────┴───────────┴───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────┴─────╯
                                   ___         ___          ___            ___         ___           ___
//                               ╰───────────┴────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

ZMK_LAYER(symbol,
// ╭─────┬───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────┬─────╮
     ___   &kp HASH    &kp AT      &LBRAC      &RBRAC       &kp PLUS       ___         ___           &GRA          &kp DLLR     ___          ___
// ├─────┼───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┼─────┤
     ___   &SLSH       &dash_tilde &kp LPAR    &kp RPAR     &ARROW         &CAR        &QUEST        &kp EXCL      &kp AMPS     &PIP         ___
// ├─────┼───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┼─────┤
     ___   &kp STAR    &kp PRCNT   &LBKET      &RBKET       &kp UNDER      &LETHAN     &kp EQUAL     &GRTHAN       &laquo       &raquo       ___
// ╰─────┴───────────┴───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────┴─────╯
                                   ___         ___          ___            ___         ___           ___
//                               ╰───────────┴────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

ZMK_LAYER(nav,
// ╭─────┬───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────┬─────╮
     ___  &out OUT_TOG ___         ___         ___          ___            ___         ___           ___           ___          ___          ___
// ├─────┼───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┼─────┤
     ___  &sk LGUI     &kp C_PREV  &kp C_PP    &kp C_NEXT   XXX            &kp LEFT    &kp DOWN      &kp UP        &kp RIGHT    &kp INS      ___
// ├─────┼───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┼─────┤
     ___  &bt BT_CLR   &bt BT_PRV  &bt BT_NXT &kp C_VOL_DN  &kp C_VOL_UP   &kp HOME    &kp PG_DN     &kp PG_UP     &kp END      &kp SLCK     ___
// ╰─────┴───────────┴───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────┴─────╯
                                   ___         ___          ___            ___         ___           ___
//                               ╰───────────┴────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

ZMK_LAYER(nums,
// ╭─────┬───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────┬─────╮
     ___   &kp F1      &kp F2      &kp F3      &kp F4       &math_pm       &math_1_4   &kp N7        &kp N8        &kp N9       &multi_div   ___
// ├─────┼───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┼─────┤
     ___   &kp F5      &kp F6      &kp F7      &hrm SL F8   &math_deg      &math_1_2   &kp N4        &kp N5        &kp N6       &plus_minus  ___
// ├─────┼───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┼─────┤
     ___   &kp F9      &kp F10     &kp F11     &kp F12      &math_micro    &math_3_4   &kp N1        &kp N2        &kp N3       &comma_dot   ___
// ╰─────┴───────────┴───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────┴─────╯
                                   ___         ___          ___            ___         &kp N0        &kp DOT
//                               ╰───────────┴────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

ZMK_LAYER(mouse,
// ╭─────┬───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────┬─────╮
     ___   ___         ___         ___         ___          ___            ___         ___           ___           ___          ___          ___
// ├─────┼───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┼─────┤
     ___   ___         &mwh_lf     &mwh_up     &mwh_dn      &mwh_rg        &mmv_lf     &mmv_dn       &mmv_up       &mmv_rg      ___          ___
// ├─────┼───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┼─────┤
     ___   ___         ___         ___         &mwh_tg      ___            ___         ___           ___           ___          ___          ___
// ╰─────┴───────────┴───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────┴─────╯
                                   &to DEF     &mkp_rg      &mkp_lf        ___         ___           ___
//                               ╰───────────┴────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)
