#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#include "os.dtsi"
#define HOST_OS LINUX
#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/international_chars/french.dtsi"
#include "../zmk-nodefree-config/symbols/math.dtsi"
#include "../zmk-nodefree-config/symbols/typography.dtsi"
#include "shortcuts.dtsi"

#include "../behaviors/combos.dtsi"
#include "../behaviors/custom.dtsi"
#include "../behaviors/canadian-multilingual-standard.dtsi"

ZMK_LAYER(qwerty,
// ╭─────┬─────────────┬─────────────┬─────────────┬──────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬──────────────┬───────╮
     XXX   &kp Q         &kp W         &kp E         &kp R          &kp T          &kp Y       &kp U         &kp I         &kp O        &kp P          &CIRC
// ├─────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼──────────────┼───────┤
     XXX   &hrm LGUI A   &hrm LALT S   &hrm LCTRL D  &hrm LSHFT F   &kp G          &kp H       &hrm RSHFT J  &hrm LCTRL K  &hrm LALT L  &hrm LGUI SEMI &GRA
// ├─────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼──────────────┼───────┤
     XXX   &kp Z         &kp X         &kp C         &kp V          &kp B          &kp N       &kp M         &kp COMMA     &kp DOT      &E_C           &CEDIL
// ╰─────┴─────────────┴─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴──────────────┴───────╯
                                       &lt NUM DEL   &lt NAV RET    &lt NUM ESC    &bspc_del  &lt SYM SPACE  &mt RALT TAB
//                                   ╰─────────────┴──────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

ZMK_LAYER(colemak,
// ╭─────┬─────────────┬─────────────┬─────────────┬──────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬──────────────┬───────╮
     ___   &kp Q         &kp W         &kp F         &kp P          &kp B          &kp J       &kp L         &kp U         &kp Y        &kp SEMI       ___
// ├─────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼──────────────┼───────┤
     ___   &hrm LGUI A   &hrm LALT R   &hrm LCTRL S  &hrm LSHFT T   &kp G          &kp M       &hrm RSHFT N  &hrm LCTRL E  &hrm LALT I  &hrm LGUI O    ___
// ├─────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼──────────────┼───────┤
     ___   &kp Z         &kp X         &kp C         &kp D          &kp V          &kp K       &kp H         &kp COMMA     &kp COLON    &SLSH          ___
// ╰─────┴─────────────┴─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴──────────────┴───────╯
                                       ___           ___            ___            ___         ___           ___
//                                   ╰─────────────┴──────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

ZMK_LAYER(ergol,
// ╭─────┬─────────────┬─────────────┬─────────────┬──────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬──────────────┬───────╮
     ___   &kp Q         &kp M         &kp U         &kp L          &kp W          &kp B       &kp D         &kp F         &kp P        &kp Y          ___
// ├─────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼──────────────┼───────┤
     ___   &hrm LGUI A   &hrm LALT S   &hrm LCTRL N  &hrm LSHFT T   &kp G          &kp H       &hrm RSHFT R  &hrm LCTRL E  &hrm LALT O  &hrm LGUI I    ___
// ├─────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼──────────────┼───────┤
     ___   &kp Z         &kp X         &kp C         &kp V          &kp J          &kp K       &sl ACC       &kp SEMI      &kp COLON    ___            ___
// ╰─────┴─────────────┴─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴──────────────┴───────╯
                                       ___           ___            ___            ___         ___           ___
//                                   ╰─────────────┴──────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

ZMK_LAYER(accent,
// ╭─────┬─────────────┬─────────────┬─────────────┬──────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬──────────────┬───────╮
     ___   &fr_ae        &math_micro   &fr_u_gr      ___            ___            ___         ___           &fr_e_cf      &fr_o_cf     ___            ___
// ├─────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼──────────────┼───────┤
     ___   &fr_a_gr      &sk LALT      &fr_u_cf      &fr_e_ac       ___            ___         &sk RSHFT     &sk LCTRL     &fr_e_gr     &fr_oe         ___
// ├─────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼──────────────┼───────┤
     ___   &fr_a_cf      ___           &fr_c_cd      ___            ___            ___         &kp GRAVE     &kp DOT       ___          ___            ___
// ╰─────┴─────────────┴─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴──────────────┴───────╯
                                       ___           ___            ___            ___         ___           ___
//                                   ╰─────────────┴──────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

ZMK_LAYER(symbol,
// ╭─────┬─────────────┬─────────────┬─────────────┬──────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬──────────────┬───────╮
     ___   &kp HASH      &kp AT        &LBRAC        &RBRAC         &kp PLUS       ___         ___           ___           ___           ___           ___
// ├─────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼──────────────┼───────┤
     ___   &SLSH         &dash_tilde   &kp LPAR      &kp RPAR       &kp EQUAL      &kp DLLR    &QUEST        &kp EXCL      &kp AMPS     &PIP           ___
// ├─────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼──────────────┼───────┤
     ___   &kp STAR      &kp PRCNT     &LBKET        &RBKET         &kp UNDER      ___         &LETHAN       &GRTHAN       &laquo       &raquo         ___
// ╰─────┴─────────────┴─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴──────────────┴───────╯
                                       ___           ___            ___            ___         ___           ___
//                                   ╰─────────────┴──────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

ZMK_LAYER(nav,
// ╭─────┬─────────────┬─────────────┬─────────────┬──────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬──────────────┬───────╮
     ___   &out OUT_TOG  ___           ___           ___            ___            ___         ___           ___           ___          ___            ___
// ├─────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼──────────────┼───────┤
     ___   &sk LGUI &hrm LALT C_PREV &hrm LCTRL C_PP &hrm LSHFT C_NEXT XXX         &kp LEFT    &kp DOWN      &kp UP        &kp RIGHT    &kp INS        ___
// ├─────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼──────────────┼───────┤
     ___   &bt BT_CLR    &bt BT_PRV    &bt BT_NXT    &kp C_VOL_DN  &kp C_VOL_UP    &kp HOME    &kp PG_DN     &kp PG_UP     &kp END      &kp SLCK       ___
// ╰─────┴─────────────┴─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴──────────────┴───────╯
                                       ___           ___            ___            ___         ___           ___
//                                   ╰─────────────┴──────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

ZMK_LAYER(nums,
// ╭─────┬─────────────┬─────────────┬─────────────┬──────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬──────────────┬───────╮
     ___   &kp F1        &kp F2        &kp F3        &kp F4         &math_pm       &math_1_4   &kp N7        &kp N8        &kp N9       &multi_div     ___
// ├─────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼──────────────┼───────┤
     ___   &kp F5        &kp F6        &kp F7        &hrm LSHFT F8  &math_deg      &math_1_2   &kp N4        &kp N5        &kp N6       &plus_minus    ___
// ├─────┼─────────────┼─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼──────────────┼───────┤
     ___   &kp F9        &kp F10       &kp F11       &kp F12        &math_micro    &math_3_4   &kp N1        &kp N2        &kp N3       &comma_dot     ___
// ╰─────┴─────────────┴─────────────┼─────────────┼──────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴──────────────┴───────╯
                                       ___           ___            ___            ___         ___           &kp N0
//                                   ╰─────────────┴──────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)
