// Keys
#define ___ &trans
#define XXX &none

// Layers
// Must match order in which they are defined
#define DEF 0
#define COL 1
#define ERG 2
#define ACC 3
#define SYM 4
#define NAV 5
#define NUM 6
