#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

#include "constants.h"
#define HOST_OS LINUX // Needed for unicode international_chars

#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/international_chars/french.dtsi"
#include "../zmk-nodefree-config/symbols/math.dtsi"
#include "../zmk-nodefree-config/symbols/typography.dtsi"

#include "../layouts/canadian-multilingual-standard.dtsi"
#include "../behaviors/combos.dtsi"
#include "../behaviors/hold-tap.dtsi"
#include "../behaviors/macros.dtsi"
#include "../behaviors/mod-morph.dtsi"
#include "../behaviors/mouse.dtsi"

ZMK_LAYER_5COL(qwerty,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
     &kp Q       &kp W       &kp E       &kp R        &kp T          &kp Y       &kp U         &kp I         &kp O        &kp P
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &hml GL A   &hml AL S   &hml CL D   &hml SL F    &kp G          &kp H       &hmr SL J     &hmr CL K     &hmr AL L   &hmr GL SEMI
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &kp Z       &kp X       &kp C       &kp V        &kp B          &kp N       &kp M         &kp COMMA     &kp DOT      &to ACC
// ╰───────────┴───────────┴───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┴────────────┴────────────╯
                                        &lt NAV RET  &num_esc_clk    &bspc_del  &lt SYM SPACE
//                                     ╰───────────┴─────────────╯ ╰───────────┴─────────────╯
)

ZMK_LAYER_5COL(accent,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
     XXX         XXX         &TREM E     XXX          XXX            XXX         &TREM I       &TREM O       &TREM U      &KPD ACC_TR
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &A_GR       &CIRC E     &E_CU       &hrme SL 0   XXX            XXX         &hrmi SL 0    &O_CI         &U_CI        &KPD ACC_GR
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &A_CI       XXX         &CEDIL      XXX          XXX            XXX         XXX           XXX           &U_GR        &KPD ACC_CI
// ╰───────────┴───────────┴───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┴────────────┴────────────╯
                                         ___          ___            ___         ___
//                                     ╰────────────┴────────────╯ ╰───────────┴─────────────╯
)

ZMK_LAYER_5COL(symbol,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
     &kp HASH    &kp AT      &kp LBRAC   &kp RBRAC    &kp PLUS       XXX         &kp TILDS     &GRA          &kp DLLR     XXX
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &kp SLSH    &dash_tilde &kp LPAR   &hml SL RPAR  &kp EQUAL      &CAR        &kp QUEST     &kp EXCL      &kp AMPS     &kp PIP
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &kp STAR    &kp PRCNT   &kp LBKET   &kp RBKET    &kp UNDER      XXX         &kp LETHAN    &kp GRTHAN    &laquo       &raquo
// ╰───────────┴───────────┴───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┴────────────┴────────────╯
                                         ___          ___            ___         ___
//                                     ╰────────────┴────────────╯ ╰───────────┴─────────────╯
)

ZMK_LAYER_5COL(nav,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
    &out OUT_TOG ___         ___         ___          &bt BT_CLR     ___         ___           ___           ___          ___
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &sk LGUI    &kp C_PREV  &kp C_PP    &kp C_NEXT   XXX            &kp LEFT    &kp DOWN      &kp UP        &kp RIGHT    &kp INS
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
    &bt BT_PRV   &bt BT_NXT &kp C_VOL_DN &kp C_VOL_UP XXX            &kp HOME    &kp PG_DN     &kp PG_UP     &kp END      &kp SLCK
// ╰───────────┴───────────┴───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┴────────────┴────────────╯
                                         ___          ___            ___         ___
//                                     ╰────────────┴────────────╯ ╰───────────┴─────────────╯
)

ZMK_LAYER_5COL(nums,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
     &kp F1      &kp F2      &kp F3      &kp F4       &math_pm       &math_1_4   &kp N7        &kp N8        &kp N9       &multi_div
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &kp F5      &kp F6      &kp F7      &hml SL F8   &kp DEG        &math_1_2   &kp N4        &kp N5        &kp N6       &plus_minus
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     &kp F9      &kp F10     &kp F11     &kp F12      &math_micro    &math_3_4   &kp N1        &kp N2        &kp N3       &comma_dot
// ╰───────────┴───────────┴───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┴────────────┴────────────╯
                                         ___          ___            &kp N0      &kp DOT
//                                     ╰────────────┴────────────╯ ╰───────────┴─────────────╯
)

ZMK_LAYER_5COL(mouse,
// ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
     ___         ___         ___         ___          ___            ___         ___           ___           ___          ___
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     ___         &mwh_lf     &mwh_up     &mwh_dn      &mwh_rg        &mmv_lf     &mmv_dn       &mmv_up       &mmv_rg      ___
// ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
     ___         ___         ___         &mwh_tg      ___            ___         ___           ___           ___          ___
// ╰───────────┴───────────┴───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┴────────────┴────────────╯
                                         &mkp_rg      &mkp_lf        ___         ___
//                                     ╰────────────┴────────────╯ ╰───────────┴─────────────╯
)
