#undef CONFIG_ZMK_MACRO_DEFAULT_WAIT_MS
#define CONFIG_ZMK_MACRO_DEFAULT_WAIT_MS 30

#undef CONFIG_ZMK_MACRO_DEFAULT_TAP_MS
#define CONFIG_ZMK_MACRO_DEFAULT_TAP_MS 40

/* Canadian Multilingual Standard Mappings */

#define SLSH   GRAVE         // /
#define SAPOS  LS(COMMA)     // '
#define DAPOS  LS(DOT)       // "
#define DEG    RA(SEMI)      // °
#define LBRAC  RA(N7)        // {
#define RBRAC  RA(N8)        // }
#define LBKET  RA(N9)        // [
#define RBKET  RA(N0)        // ]
#define QUEST  LS(N6)        // ?
#define PIP    RA(GRAVE)     // |
#define TILDS  RA(RBKT)      // ~
#define LETHAN RA(COMMA)     // ≤
#define GRTHAN RA(DOT)       // ≥
#define ACC_CI LBKT          // ^
#define ACC_GR RA(LBKT)      // `
#define ACC_TR LS(LBKT)      // ¨

#define UGR &u_grave_

// The following must return to the base layer after being pressed
ZMK_MACRO_ONE_PARAM(A_GR, bindings = <&kp BACKSLASH>, <&macro_param_1to1>, <&to MACRO_PLACEHOLDER>;)  // À
ZMK_MACRO_ONE_PARAM(A_CI, bindings = <&fr_a_cf>, <&macro_param_1to1>, <&to MACRO_PLACEHOLDER>;)       // Â
ZMK_MACRO_ONE_PARAM(E_CU, bindings = <&kp SLASH>, <&macro_param_1to1>, <&to MACRO_PLACEHOLDER>;)      // É
ZMK_MACRO_ONE_PARAM(E_GR, bindings = <&kp APOS>, <&macro_param_1to1>, <&to MACRO_PLACEHOLDER>;)       // È
ZMK_MACRO_ONE_PARAM(E_CI, bindings = <&fr_e_cf>, <&macro_param_1to1>, <&to MACRO_PLACEHOLDER>;)       // Ê
ZMK_MACRO_ONE_PARAM(I_CI, bindings = <&fr_i_cf>, <&macro_param_1to1>, <&to MACRO_PLACEHOLDER>;)       // Î
ZMK_MACRO_ONE_PARAM(O_CI, bindings = <&fr_o_cf>, <&macro_param_1to1>, <&to MACRO_PLACEHOLDER>;)       // Ô
ZMK_MACRO_ONE_PARAM(U_CI, bindings = <&fr_u_cf>, <&macro_param_1to1>, <&to MACRO_PLACEHOLDER>;)       // Û
ZMK_MACRO_ONE_PARAM(U_GR, bindings = <&macro_param_1to2>, <&AGRA U MACRO_PLACEHOLDER>;)       // Ù
ZMK_MACRO_ONE_PARAM(AE_L, bindings = <&fr_ae>, <&macro_param_1to1>, <&to MACRO_PLACEHOLDER>;)          // Æ
ZMK_MACRO_ONE_PARAM(OE_L, bindings = <&fr_oe>, <&macro_param_1to1>, <&to MACRO_PLACEHOLDER>;)          // Œ
ZMK_MACRO_ONE_PARAM(CEDIL, bindings = <&kp RBKT>, <&macro_param_1to1>, <&to MACRO_PLACEHOLDER>;)       // Ç


// QWERTY Homerow Mods
ZMK_MACRO(E_GR_D, bindings = <&kp APOS>, <&to QWE>;) // È
ZMK_MACRO(I_CI_D, bindings = <&fr_i_cf>, <&to QWE>;) // Î

// Colemak Homerow Mods
ZMK_MACRO(E_GR_C, bindings = <&kp APOS>, <&to COL>;) // È
ZMK_MACRO(I_CI_C, bindings = <&fr_i_cf>, <&to COL>;) // Î

// Ergo-L Homerow Mods
ZMK_MACRO(E_CI_E, bindings = <&fr_e_cf>, <&to ERG>;) // Ê

// ` directly
ZMK_MACRO(GRA, bindings =
    <&macro_press &kp RALT>,
    <&macro_tap &kp LBKT &kp LBKT>,
    <&macro_release &kp RALT>;
)

// ^ directly
ZMK_MACRO(CAR, bindings =
    <&macro_tap &kp LBKT &kp SPACE>;
)

// ¨ directly
ZMK_MACRO_ONE_PARAM(TREMA, bindings =
    <&macro_tap &kp LS(LBKT) &kp SPACE>,
    <&macro_param_1to1>,
    <&to MACRO_PLACEHOLDER>;
)

// ` to input
ZMK_MACRO_TWO_PARAM(AGRA, bindings =
    <&kp RA(LBKT)>,
    <&macro_param_2to1>,
    <&macro_press &kp MACRO_PLACEHOLDER>,
    <&macro_param_1to1>,
    <&macro_tap &kp MACRO_PLACEHOLDER>,
    <&macro_param_2to1>,
    <&macro_release &kp MACRO_PLACEHOLDER>;
)

ZMK_MOD_MORPH(u_grave_,
    bindings = <&AGRA U 0>, <&AGRA U LSHIFT>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

ZMK_MACRO_TWO_PARAM(MA, bindings =
    <&macro_param_1to1>,
    <&u_grave_>,
    <&macro_param_2to1>,
    <&to MACRO_PLACEHOLDER>;
)

// ` to input then to default layer
ZMK_MACRO_ONE_PARAM(AGRA_D, bindings =
    <&kp RA(LBKT)>,
    <&macro_param_1to1>,
    <&macro_tap &kp MACRO_PLACEHOLDER>,
    <&to QWE>;
)

// ´ to input
ZMK_MACRO_TWO_PARAM(AIGU, bindings =
    <&kp RA(SLASH)>,
    <&macro_param_1to1>,
    <&macro_tap &kp MACRO_PLACEHOLDER>,
    <&macro_param_2to1>,
    <&to MACRO_PLACEHOLDER>;
)

// ¨ to input
ZMK_MACRO_TWO_PARAM(TREM, bindings =
    <&kp LS(LBKT)>,
    <&macro_param_1to1>,
    <&macro_tap &kp MACRO_PLACEHOLDER>,
    <&macro_param_2to1>,
    <&to MACRO_PLACEHOLDER>;
)

// ^ to input
ZMK_MACRO_TWO_PARAM(CIRC, bindings =
    <&kp LBKT>,
    <&macro_param_1to1>,
    <&macro_tap &kp MACRO_PLACEHOLDER>,
    <&macro_param_2to1>,
    <&to MACRO_PLACEHOLDER>;
)

// ^ to input then to default layer
ZMK_MACRO_ONE_PARAM(CIRC_D, bindings =
    <&kp LBKT>,
    <&macro_param_1to1>,
    <&macro_tap &kp MACRO_PLACEHOLDER>,
    <&to QWE>;
)

// Keypress then return to default layer
ZMK_MACRO_TWO_PARAM(KPD, bindings =
    <&macro_param_1to1>,
    <&kp MACRO_PLACEHOLDER>,
    <&macro_param_2to1>,
    <&to MACRO_PLACEHOLDER>;
)
