#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "../zmk-nodefree-config/helper.h"

/* Canadian Multilingual Standard Mappings */

ZMK_BEHAVIOR(A_G,   macro, bindings = <&kp BACKSLASH>;)     // À
ZMK_BEHAVIOR(E_C,   macro, bindings = <&kp SLASH>;)         // É
ZMK_BEHAVIOR(E_G,   macro, bindings = <&kp APOS>;)          // È
ZMK_BEHAVIOR(CEDIL, macro, bindings = <&kp LT>;)            // Ç
/*ZMK_BEHAVIOR(GRAVE, macro, bindings = <&kp RALT(LBKT)>;)    // `
ZMK_BEHAVIOR(CIRC,  macro, bindings = <&kp LBKT>;)          // ^)
ZMK_BEHAVIOR(AIGU,  macro, bindings = <&kp RALT(SLASH)>;)   // ´
ZMK_BEHAVIOR(TREMA, macro, bindings = <&kp LSHFT(LBKT)>;)    // ¨
ZMK_BEHAVIOR(DEG,   macro, bindings = <&kp RALT(SEMI)>;)    // °
ZMK_BEHAVIOR(LBRC,  macro, bindings = <&kp RALT(N7)>;)    // 0
ZMK_BEHAVIOR(RBRC,  macro, bindings = <&kp RALT(N8)>;)    // °
ZMK_BEHAVIOR(LBKT,  macro, bindings = <&kp RALT(N9)>;)    // °
ZMK_BEHAVIOR(RBRT,  macro, bindings = <&kp RALT(N0)>;)    // °
*/
