#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_36keys.h"
#include "./combos.dtsi"
#include "../config/constants.h"

#pragma once

// NOTE: Only thumb keys are different between 34/36 layouts
//       All other combos should be in ./combos.dtsi

/***********************
  THUMBS
***********************/

// TAB - Inner right thumbs, active on base and Colemak layers
ZMK_COMBO(tab, &kp TAB, RH0 RH1, DEF COL ERG)

// QWERTY/Colemak - Inner thumbs, active on base and Colemak layers
ZMK_COMBO(colemak, &tog COL, LH0 RH0, DEF COL)

// QWERTY/Ergo-L - Middle thumbs, active on base and Ergo-L layers
ZMK_COMBO(ergol_34, &tog ERG, LH1 RH1, DEF ERG)
