#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_36keys.h"
#include "./combos.dtsi"
#include "../config/constants.h"

#pragma once

// NOTE: Only thumb keys are different between 34/36 layouts
//       All other combos should be in ./combos.dtsi

/***********************
  THUMBS
***********************/

// TAB - Inner right thumbs, active on base and Colemak layers
ZMK_COMBO(tab, &kp TAB, RH0 RH1, DEF COL)

// COLEMAK - Inner thumbs, active on base layer
ZMK_COMBO(colemak, &to COL, LH0 RH0, DEF)

// QWERTY - Inner thumbs, active on Colemak layer
ZMK_COMBO(qwerty, &to DEF, LH0 RH0, COL)
