#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "../zmk-nodefree-config/helper.h"
#include "../zmk-nodefree-config/keypos_def/keypos_36keys.h"
#include "../layouts/canadian-multilingual-standard.dtsi"

/* Home Row Mods */

#define hrm_tap_term 150
#define hrm_quick_tap 125

// main homerow mods
ZMK_BEHAVIOR(hrm, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&kp>;
)

// homerow mods for circumflex
ZMK_BEHAVIOR(hrmc, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&CIRC>;
)

// homerow mods for grave
ZMK_BEHAVIOR(hrmg, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&AGRA>;
)

// homerow mods for è
ZMK_BEHAVIOR(hrme, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&E_GR>;
)

// homerow mods for î
ZMK_BEHAVIOR(hrmi, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&I_CI>;
)
