#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "../zmk-nodefree-config/helper.h"
#include "../config/constants.h"

#pragma once

// Fat arrow padded with spaces: ' => '
ZMK_BEHAVIOR(FAT_ARROW, macro, bindings =
    <&kp SPACE &kp EQUAL>,
    <&kp RA(DOT)>,
    <&kp SPACE>;
)

// Thin arrow padded with spaces: ' -> '
ZMK_BEHAVIOR(ARROW, macro, bindings =
    <&kp SPACE &kp MINUS>,
    <&kp RA(DOT)>,
    <&kp SPACE>;
)

// Greater than or equal to: ' >= '
ZMK_BEHAVIOR(GTE,   macro, bindings =
    <&kp SPACE>,
    <&GRTHAN>, <&kp EQUAL>,
    <&kp SPACE>;
)

// Less than or equal to: ' <= '
ZMK_BEHAVIOR(LTE,   macro, bindings =
    <&kp SPACE>,
    <&LETHAN>, <&kp EQUAL>,
    <&kp SPACE>;
)

// Tmux command: TMUX + ;
ZMK_BEHAVIOR(TMUX_CMD, macro, bindings =
    <&kp TMUX>,
    <&kp LS(SEMI)>;
)

// Tmux new session: TMUX + ; + new -s + SPACE
ZMK_BEHAVIOR(TMUX_SESSION, macro, bindings =
    <&kp TMUX>,
    <&kp LS(SEMI)>,
    <&kp N &kp E &kp W &kp SPACE &kp MINUS &kp S &kp SPACE>;
)
