#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "../zmk-nodefree-config/helper.h"

ZMK_BEHAVIOR(ARROW,   macro, bindings = // =>
    <&macro_tap &kp SPACE &kp EQUAL>,
    <&kp RA(DOT)>,
    <&kp SPACE>;)

