#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "../zmk-nodefree-config/helper.h"
#include "../layouts/canadian-multilingual-standard.dtsi"

// tap: backspace | shift + tap: delete
ZMK_BEHAVIOR(bspc_del, mod_morph,
    bindings = <&kp BSPC>, <&kp DEL>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// tap: backspace | shift + tap: delete | hold: nav layer
ZMK_BEHAVIOR(bs_del_nav, mod_morph,
    bindings = <&lt NAV BSPC>, <&kp DEL>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// tap: plus | shift + tap: minus
ZMK_BEHAVIOR(plus_minus, mod_morph,
    bindings = <&kp PLUS>, <&kp MINUS>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// tap: multiply | shift + tap: divide
ZMK_BEHAVIOR(multi_div, mod_morph,
    bindings = <&kp STAR>, <&kp FSLH>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// tap: dash | shift + tap: tilde
ZMK_BEHAVIOR(dash_tilde, mod_morph,
    bindings = <&kp MINUS>, <&kp TILDS>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// tap: comma | shift + tap: period
ZMK_BEHAVIOR(comma_dot, mod_morph,
    bindings = <&kp COMMA>, <&kp DOT>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// hold: num layer | tap: escape | shift OR ctrl + tap : mouse click
ZMK_BEHAVIOR(num_esc_clk, mod_morph,
    bindings = <&lt NUM ESC>, <&mkp LCLK>;
    mods = <(MOD_LSFT|MOD_LCTL)>;
)

// hold: symbol layer | tap: space | shift + tap: non-breaking space
ZMK_BEHAVIOR(sp_nbsp_sym, mod_morph,
    bindings = <&lt SYM SPACE>, <&kp RALT(SPACE)>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)
